// sizing
$container-w: 79.113924050632911%;
$column-w: 20%;
$button-w: 81.1428571428571%;
$button-mt: -80%;
$button-h: 4.630788485607009%;
$button-mb: 80%;

// font
$ff: 'Titillium Web', sans-serif;
$ls: 0.075em;

// color
$primary: #292e3a;